* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.heart {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: red;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.heart::before,
.heart::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  border-radius: 100%;
}

.heart::before {
  left: 50%;
}

.heart::after {
  top: -50%;
}