* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #fbfbfe;
  --card-bg: #ffffff;
  --title-color: #000000;
  --text-color: grey;
  --footer-bg: #fcfcfc;
  --shadow: 0 2px 4px rgba(174, 190, 205, .3);
}

/* @media (prefers-color-scheme : no-preference | light | dark) */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1a252d;
    --card-bg: #2a3b47;
    --title-color: white;
    --text-color: lightgray;
    --footer-bg: #22303a;
    --shadow: 0 2px 4px rgba(0, 0, 0, .15);
  }
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
}

.card {
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 300px;
  background-color: var(--card-bg);
  box-shadow: var(--shadow)
}

.header {
  position: relative;
}

.level {
  bottom: 0.75rem;
  left: 0.75rem;
  position: absolute;
  font-weight: 600;
  color: white;
}

.image {
  width: 100%;
}

.content {
  padding: 1rem;
}

.content h3 {
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.footer {
  padding: 0.75rem 1rem;
  background-color: var(--footer-bg);
}