div {
  margin-left: 3rem;
  display: list-item;
}

/* symbols por ahora solo funciona en firefox */
ul, ol {
  outline: 1px solid red;
  /* padding-left: 0; */
  list-style-position: inside;
}

li {
  outline: 1px solid blue;
}

li li {
  outline: 1px solid green;
}

