* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: sans-serif;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  background-color: #22303A;
  color: white;
}

img {
  width: 100%;
  border-radius: 0.25rem;
}

p::first-line {
  color: #58b3f3;
  font-weight: 800;
  text-transform: uppercase;
}