:root {
  --header-height: 3rem;
  --header-margin: 1rem;
  --font-size: 1rem;
  --title-font-size: 1.75rem;
  --colums: 1;
  --show-element: none;
}

@media screen and (min-width: 1024px){
  :root {
    --header-height: 4rem;
    --header-margin: 2rem;
    --font-size: 1.25rem;
    --title-font-size: 2rem;
    --colums: 4;
    --show-element: block;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: calc(var(--header-height) + var(--header-margin));
  font-size: var(--font-size);
}

h1 {
  font-size: var(--title-font-size);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: black;
}

div {
  display: grid;
  grid-template-columns: repeat(var(--colums), 1fr);
}

main {
  grid-column-start: span 3;
}

h2 {
  padding: 1rem;
  background-color: tomato;
}

h3 {
  display: var(--show-element);
}